{% extends 'base.html.twig' %}
{% block title %} {{ parent() }} | Connexion {% endblock %}
{% block main %}
    <div class="container-login">
        <div class="row">
            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">Identifiants erronés. Veuillez réessayer.</div>
                {% endif %}
                {% if app.user %}
                    <div class="mb-3">
                        Vous êtes connecté(e) en tant que {{ app.user.username }} -  <a href="{{ path('app_logout') }}">Déconnexion</a>
                    </div>
                {% endif %}
                <div>
                    <label for="inputUsername">Identifiant :</label>
                    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" required autofocus>
                    <label for="inputPassword">Mot de passe :</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" required>
                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}">
                    <div id="remember_me" class="mb-3">
                        <label for="remember_me">
                            <input type="checkbox" id="remember_me" name="_remember_me" checked/>
                            Se souvenir de moi
                        </label>
                        <button type="submit">
                            Connexion
                        </button>
                    </div>
                </div>
                <div>
                    <a href="{{ path('app_forgot_password_request') }}" title="reset password">Mot de passe oublié ?</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
