{% extends 'base.html.twig' %}
{% block title %} {{ parent() }} | Créer une sortie {% endblock %}
{% block main %}
    <h1>Créer une sortie</h1>
    <div class="container-main">
        {% form_theme sortieForm 'bootstrap_4_layout.html.twig' %}
        {{ form_start(sortieForm) }}
        <div class="form-row col-sm-12 col-xs-12">
            <div class="col-sm-5 col-xs-12 p-3">
                {{ form_row(sortieForm.nom) }}
                {{ form_row(sortieForm.dateHeureDebut) }}
                {{ form_row(sortieForm.dateLimiteInscription) }}
                {{ form_row(sortieForm.nbInscriptionsMax) }}
                {{ form_row(sortieForm.duree) }}
            </div>
            <div class="col-sm-5 col-xs-12 p-3">
                {{ form_row(sortieForm.infosSortie) }}
                <p>Campus : {{ app.user.campus }}</p>
                {{ form_row(sortieForm.lieu) }}
                <button type="submit" id="enregistrer-sortie">Enregistrer</button>
                <button type="submit" id="annuler-sortie"><a href="{{ path('home_home') }}">Annuler</a></button>
            </div>
        </div>
        {{ form_end(sortieForm) }}
    </div>
{% endblock %}
